
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">  
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Temas
        </div>
        <div class="card-body">
            <div class="table-responsive">


                
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
</div>