.card-body{
    display:flex;
    min-height:500px;
    padding:0px;
    margin:0px;
    /*background:#0f21f1;*/
}
.ContenedorLeft{
    background-color: rgba(0,0,0,.03);
    border:1px solid rgba(0,0,0,.125);
    width:20%;
    padding:10px;
    height:500px;
    overflow-y:scroll;
    
}
.contenedorRight{    
    width:80%;
    padding:10px;    
}